.container{
    background-color: peachpuff;
    text-align: center;
    border-radius: 5rem;
    margin: auto;
    padding: 10rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:800px) {
  .container{margin:1%;width:98%;}
}